<div class="container">

  <p>Welcome <%= @user.email%>, This is your secret page</p>
<br>
  <p>Password: <%= @user.password%></p>
<br>
  <p>User ID:<%= @user.id %></p>
  

  <form action="/users/logout" method="post">
    <input type="submit" value="Log Out">
  </form>


<br><br>

  <form action = "/url/create" method="post">
    <input type="submit" value="URL shortening!">
  </form>


  </div>