<h2>CSI Facebook</h2>

  <form action="/" method="post">
    <h5> Email: <input type="text" name="email"></h5>
    <h5> Password: <input type="text" name="password"></h5>
    <h5> <input type="submit" value="Log In"></h5>
  </form>
